.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0; /* 배경색을 설정합니다 */
}

.login-box {
  background-color: #e0f7fa; /* 옅은 하늘색 */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 2rem; /* 박스 내부 여백 */
  border-radius: 8px; /* 모서리 둥글게 */
  width: 100%;
  max-width: 400px; /* 최대 너비를 설정하여 박스 크기를 제한합니다 */
}

.form-label {
  display: block;
  margin-bottom: 0.3rem; /* 라벨과 입력칸 사이의 공간 */
}

.form-control {
  margin-top: 0.3rem; /* 입력칸과 라벨 사이의 공간 */
}

.mb-2 {
  margin-bottom: 1rem; /* 입력칸과 입력칸 사이의 공간을 줄였습니다 */
}
